.volunteerListContainer {
    text-align: left;
}

/* .volunteerListBox {
    margin-top: 50px;
   
} */

.x {
    float: right;
}

.xColor {
color: #e74944;
}

.volBtn {
    height: 100%;
    width: 100%;
    
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
   
    background: white;
    color: black;
    border: none;
    
}

.volTableName {
    color: black;
}

.tableEditBtn {
    background-color:#002D72;
    color: white;
}

.tableDeleteBtn {
    background-color:#D50032;
    color: white;
}



/* .volName {
    margin-top: 7px;
} */

/* .listItemsBox {
    width: 100%;
} */



  