.navbar {
    background: url("http://i63.tinypic.com/eg1umw.jpg");
    /* background-repeat: no-repeat; */
    background-position: center;
}

.navbar-brand {
    color: white;
    text-shadow: 0 2px 0 black;
}

