.emailBox {
    text-align: left;
    margin: 10px;
}

.allVolunteersBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.emailBtn {
    background-color:#002D72;
    color: white;
    border: none;
}

.emailBtn:hover {
    background-color: #D50032;
}

