.detailJumbo {
    margin-top: 30px;
    background-color: #002D72;
    color: white;

}

.infoBox {
    margin-bottom: 30px;
    margin-left: 50px;
    color: #002D72;
}

.homeBtn {
    margin-left: 50px;
    color: #D50032;
}

