.detailJumbo {
    margin-top: 30px;
    background-color: #002D72;
    color: white;
    border: 3px solid #D50032;

}

.infoBox {
    margin-bottom: 30px;
    /* margin-left: 50px; */
    color: #002D72;
    border: 3px solid #D50032;
    border-radius: 0px;
    padding: 30px;
    background-color: white;
}

.updateBox {
    margin: 20px;
    margin-top: 0px;
    padding: 30px;
    border: 3px solid #D50032;
    border-radius: 0px;
    text-align: center;
    color: #002D72;
    background-color: white;
}

.homeBtn {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: #D50032;
}

.infoBoxCol {
    margin-bottom: 30px;
}

.editBtn {
    margin: 5px;
    width: 200px;
    background-color: #002D72;
    color: white;
    border: none;
    margin-top: 20px;
    margin-left: 0px;
   
   
    
}

.editBtn:hover {
    background-color: #D50032
}

.homeBtnRow {
    text-align: center;
}

