
.login {
    padding: 30px;
    /* border: 1px solid black; */
}

.loginBox {
    border: 3px solid #D50032;
    padding: 30px;
    border-radius: 25px;
}

.jumboLogin {
    padding: 20px;
    text-align: center;
    background-color: #002D72;
    color: white;
}



.loginBtn {
    background-color: #002D72;
    color: white;
}

.createHere {
    color: #002D72;
}