.footer {
   
    background: url("http://i67.tinypic.com/fk5tky.jpg");
    background-position: center;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}


