.footer {
    background: url("http://i66.tinypic.com/282kxhz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

/* <a href="http://tinypic.com?ref=282kxhz" target="_blank"><img src="http://i66.tinypic.com/282kxhz.jpg" border="0" alt="Image and video hosting by TinyPic"></a> */

/* .navbar-brand {
    color: white;
    text-shadow: 0 2px 0 black;
} */

